.init{
    text-align: center;
}

.final{
    margin-top: 5em; 
    font-size: 0.7em;
}

.ctn{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    padding: 50px;
}

.p {display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
    
    text-align: center;
    background-color:white;}