
.flt1 {filter: grayscale(100%);}
.flt1 h1 h2 h3 p {color:white}

.flt2 {
-webkit-filter: brightness(50%);
filter: brightness(90%);
}
body {font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    margin: 100px;
    margin-bottom: 40px;
    background-color: #f2f2f2;}

/*------ CAJA TEXTO------- */
.caja {
text-align: center;
background: hsla(96, 24%, 96%, 0.918);
border-radius: 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;

}
.caja p{color:black;font-size:1.2em; text-align:left;font-weight: 800;
    padding:20px;}

/*--- CAJA ---- */
.box1{border: solid 1px white; padding-left: 50px; padding-right:50px;
    height:350px; width: 700px; background-color:white}
.box1 img{height:250px; -webkit-filter: brightness(50%);
filter: brightness(90%);}
.box1 h3{font-family:abel; color:black; font-size: 1.5em; text-align:center ;}

/**** BOTON ****/
.botoncta {
font-size:14px;
background: #A6A845;
padding-left: 20px;
padding-right: 25px;
padding-top: 0px;
border-radius: 5px;
display: inline-block;
text-align: center;
margin-left: 350px;

}
.botoncta p{color:white;text-align:center}