.container {
  display: flex;
  margin-top: 40px;
}
.chat {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  min-width: 400px;
}

.head {
  background-color: #324021;
  height: 1vh;
  min-height: 20px;
  color: white;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4 00px;

  background-color: #324021be;
}

.maiin {
  padding: 10px;
  height: 300px;

  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.maiin::-webkit-scrollbar {
  width: 0.25rem;
}

.maiin::-webkit-scrollbar-thumb {
  background: #324021;
}

.foorm {
  bottom: 0;
  background-color: #324021;
  width: 100%;

  display: flex;
  font-size: 1.5rem;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: rgb(255, 255, 255);

  align-self: flex-end;
}
.received p {
  color: rgb(255, 255, 255);
}

.btn {
  background-color: #324021;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn2 {
  background-color: #324021;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.imag {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.collections {
  margin-left: 50px;
  align-items: center;
  background-color: "#324021";
}

.select {
  align-items: center;
  background-color: "#324021";
}

.inpuu {
  width: 80%;
}
