html {
    min-height: 100%;
    position: relative;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    min-height: 100%;
    margin: 0;
    margin-bottom: 40px;
    background-color: #f2f2f2;
}
.navBar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: #313B1E;
    display:flex;
    width: 100;
}
.navBarHost {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: #4d1414;
    display:flex;
    width: 100;
}
.title{
    display:flex;
    justify-content: space-between;
    padding-left: 3em;
    align-items: center;
}
.bienvenida{
    color: #FFF;
    font-size: 1.5em;
    font-weight: 100;
}
.type{
    color: #FFF;
    font-size: 1.5em;
}
.picture{
    height: 7em;
    width: 7em;
    background-size: cover;
    border-radius: 50%;
    padding: 1em;
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 1em;
}
.buttonsNavBar{
    display: flex;
}
.navButton1{
    text-decoration: none;
    color: #FFF;
    font-size: 1.2em;
    margin-left:1em;
    margin-right:2em;
}
.navButton1:hover{
    color: #e3e3e3;
}
.navButton{
    text-decoration: none;
    color: #FFF;
    font-size: 1.2em;
    margin-left:2.5em;
}
.navButton:hover{
    color: #e3e3e3;
}
.separator{
    border-top: solid 1px #FFF;
    width: 1200px;
    margin-left: 4em;
}
.options{
    display:flex;
    height: 6em;
    justify-content: space-between;
    align-items: center;
}
.line{
    height: 2em;
    border-left: solid 1px #FFF;
    margin-left: 2.5em;
}
ul li{
    list-style: none;
}
.option {
    text-decoration: none;
    color: #FFF;
    font-size: 1.2em;
    margin-left: 2em;
}
.option:hover{
    color: #e3e3e3;
}
.buttonOption {
    background-color: rgba(0,0,0,0);
    color: #FFF;
    font-size: 1.2em;
    margin-left: 2em;
    border: none;
    cursor: pointer;
}
.buttonOption:hover {
    color: #e3e3e3;
}
.footer {
    position: absolute;
    height: 1.5em;
    background: rgba(48, 58, 31, 0.85);
    width: 100;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    display:flex;
    align-items: center;
    justify-content: center;
}
.footerHost {
    position: absolute;
    height: 1.5em;
    background: rgba(77, 20, 20, 0.85);
    width: 100;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    display:flex;
    align-items: center;
    justify-content: center;
}
.infoFooter {
    color: #FFF;

}