.container {
  height: 800px;
}
.header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 50px;
}
.ctnMerge{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ctn {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 3rem;
  padding-right: 3rem;
}
.field {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  padding-right: 4rem;

  width: 15rem;
}
.nameField {
  padding-bottom: 1rem;
}
.inputField {
    height: 25px;
    border-radius: 4px;
    padding-left: 10px;
    width: 200px;
    border: solid 2px black;
  }
.selectField{
  height: 30px;
  border-radius: 4px;
  padding-left: 10px;
  width: 220px;
  border: solid 2px black;
}
.ctnUpdate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.update {
  width: 8rem;
  height: 3rem;
  background: #b2b451;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 6rem;
  cursor: pointer;
  margin-right: 10px;
}
.update:hover {
  background: rgb(88, 114, 43);
}
.container {
  height: 700px;
}
