.container {
  height: 794px;
}
.header {
  text-align: center;
  font-size: 2rem;
}
.ctnMerge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: auto;
}
.ctn {
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.field {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 28rem;
}
.nameField {
  padding-bottom: 1rem;
}
.inputField {
  height: 30px;
  border-radius: 4px;
  padding-left: 10px;
  width: 220px;
  border: solid 2px black;
}
.selectField {
  height: 31px;
  border-radius: 4px;
  padding-left: 10px;
  width: 220px;
  border: solid 2px black;
}
.ctnUpdate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.update {
  width: 8rem;
  height: 3rem;
  background:  rgb(88, 114, 43);
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 6rem;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.update:hover {
  background: #A6A845;
}
