.contimg {
  display: flex;
  justify-content: center;
  padding: 5%;
  margin-left: 45%;
}
.contnd {
  margin-top: -37%;
}
.name {
  font-size: xx-large;
  font-weight: bold;
  margin: 1.5%;
  text-indent: 2%;
}
.des {
  margin-left: 3%;
  margin-bottom: 0.1%;
}
.summ {
  margin-left: 3%;
  font-weight: 500;
  margin-right: 56%;
}
.hr {
  margin-left: 4%;
  border-top: 2px solid grey;
  width: 41%;
  margin: 2%;
}
.gridPadre {
  margin-left: 40px;
  width: 410px;
  height: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  border: black solid 2px;
  border-radius: 12px;
  box-shadow: 4px 4px 7px grey; 
}
.gridHijo1 {
  width: 100%;
  height: 60%;
  text-align: center;
  border-right: black solid 1px;
}
.gridHijo2 {
  width: 90%;
  height: 60%;
  text-align: center;
}
.gridHijo3 {
  margin: auto;
  margin-bottom: 20px;
  padding-top: 6px;
  width: 80%;
  border-top: black solid 1px;
  text-align: center;
  grid-column: 1/3;
}
.gridEst{
    margin-left: 40px;
    width: 410px;
    height: 180px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr;
    border: black solid 2px;
    border-radius: 12px; 
    margin-top: 15px;
    box-shadow: 4px 4px 7px grey; 
}
.score{
    width: 40%;
    height: 40%;
    text-align: center;
}
.totalp{
    margin: auto;
    margin-bottom: 20px;
    padding-top: 2px;
    height: 250px;
    width: 90%;
    border-top: black solid 1px;
    text-align:left;
    grid-column: 1/3;
}
.button{
    position: relative;
    left: 140px;
}
.cont{
    display: flex;
    justify-content:flex-end;
}
.contcuad{
  background-color: rosybrown;
}
.cuad{
    width:11%;
    height:0;
    padding-top:11%;
    left: 36%;
    position:relative;
    background-color: #B6C867;
    border-radius: 15px;
    box-shadow: 4px 4px 7px grey; 
}
.flexhijo{
    display: flex;
    margin-left: 60%;
} 
.flexcal{
  display: flex ;
  justify-content: center;
}
.hr{
  border-top: 3px solid black;
  width: 100px;
}

