.contimg{
    display:flex;
    justify-content: center;
    padding: 5%;
    margin-left: 40%;
}

.contnd{
    margin-top: -40%
}

.name{
    font-size:xx-large;
    font-weight: bold;
    margin: 1.5%;
    text-indent: 2%;
}

.des{
    margin-left: 3%;
    margin-bottom: 0.1%;
}

.summ{
    margin-left: 3%;
    font-weight: 500;
    margin-right: 56%;
}

.hr{
    margin-left: 3%;
    border-top: 2px solid grey;
    width: 41%;
}

.service{
    margin-left: 3.5%;
}

.ame{

}

.hr1{
   height:110px;
    border-left: solid 2px black;
    margin-left: 15%; 
}

.hr2{
    height:150px;
    border-left: solid 2px black;
    margin-left: 30%;
    margin-top: -11%;
    
}

.contf{
    margin-left: 3%;
    border: solid 2px black;
    border-radius: 5px;
}

.contfechas{
    margin:5%;
}

.travel{
    margin: 5%;
}

.hr3{
    margin-left: 3%;
    border-top: 2px solid grey;
    width: 440%;
}

.hr4{
    margin-top: 3%;
    height:50px;
    border-left: solid 2px black;
    margin-left: 50%;
}