.contimg {
  display: flex;
  justify-content: center;
  padding: 5%;
  margin-left: 45%;
  margin-bottom: 5%;
}
.contnd {
  margin-top: -34%;
  font-family: "Roboto";
}
.name {
  font-size: xx-large;
  font-weight: bold;
  margin: 1.5%;
  text-indent: 2%;
}
.des {
  margin-left: 3%;
  margin-bottom: 0.1%;
  font-family: "Roboto";
}
.summ {
  margin-left: 3%;
  font-weight: 500;
  margin-right: 56%;
  font-family: "Roboto";
  position:static;
}
.hr {
  margin-left: 4%;
  border-top: 2px solid grey;
  width: 41%;
  margin: 2%;
}
.gridPadre {
  margin-left: 40px;
  width: 410px;
  height: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  border: rgb(95, 94, 94) solid 1px;
  border-radius: 10px;
  box-shadow: 4px 4px 7px grey; 
}
.gridHijo1 {
  width: 100%;
  height: 60%;
  text-align: center;
  border-right: rgb(95, 94, 94) solid 1px;
  font-family: "Roboto";
}
.gridHijo2 {
  width: 90%;
  height: 60%;
  text-align: center;
  font-family: "Roboto";
}
.gridHijo3 {
  margin: auto;
  margin-bottom: 20px;
  padding-top: 6px;
  width: 80%;
  border-top: rgb(95, 94, 94) solid 1px;
  text-align: center;
  grid-column: 1/3;
  font-family: "Roboto";
}
.gridEst{
    margin-left: 40px;
    width: 410px;
    height: 180px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr;
    border: rgb(95, 94, 94) solid 1px;
    border-radius: 10px; 
    margin-top: 15px;
    box-shadow: 4px 4px 7px grey; 
}
.score{
    width: 40%;
    height: 40%;
    text-align: center;
    font-family: "Roboto";
}
.totalp{
    margin: auto;
    margin-bottom: 20px;
    padding-top: 2px;
    height: 250px;
    width: 90%;
    border-top: rgb(95, 94, 94) solid 1px;
    text-align:left;
    grid-column: 1/3;
    font-family: "Roboto";
}
.button{
    position: relative;
    left: 140px;
}
.cont{
    display: flex;
    justify-content:flex-end;
}
.contcuad{
  background-color: rosybrown;
}
.cuad{
    width:11%;
    height:0;
    padding-top:11%;
    left: 36%;
    position:absolute;
    background-color: #B6C867;
    border-radius: 15px;
    margin-top: -11%;
    box-shadow: 4px 4px 7px grey; 
}
.flexhijo{
    display: flex;
    margin-left: 60%;
    position: absolute;
    margin-top: -17%;
} 
.flexcal{
  display: flex ;
  justify-content: center;
  margin-top: 5%;
}
.score{

}
.service{
  font-family: "Roboto";
}
.slice{
  position: absolute;
  margin-top: -10rem;
  margin-left: 50rem;
  column-count: 2;
  text-align: justify;
  column-gap: 3em;
  column-rule: 3px inset rgba(0, 0, 0, 1);
  
}
.flex{
  position: static;
  padding-top: 5%;
}
.gridHijo4{
  display: flex;
  grid-column: 1/2;
  text-align: center;
}