.navBar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #313B1E;
}
.logo {

}
.title {
    color: #FFF;
    margin-left: 40px;
    height: 1.2rem;
}
.signOut {
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border:none;
    font-size: 16px;
    color: #FFF;
    background-color: #b2b451;
    font-weight: bolder;
    cursor: pointer;
    transition: 400ms;
}
.signOut:hover {
    background-color:#d6d84c;
}
.ctnButtons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons {
    width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.buttonNav {
    margin-top: 2.5%;
    height:140px;
    border-radius: 10px;
    border: solid 1px #859239;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #0f0f04;
    background-color: #d3d4aa;
    transition: 400ms; 
    flex: none;
    width: calc((100% - 40px) / 3);
    margin-bottom:10px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.buttonNav:hover {
    background-color: #b7b87d;
}
.footer{
    position: absolute;
    height: 1.5rem;
    background: #313B1E;
    width: 100;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}
