.ctn {

}
.navBar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #313B1E;
}
.logo {

}
.title {
    color: #FFF;
}
.signOut {
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border:none;
    font-size: 16px;
    color: #FFF;
    background-color: #b2b451
    ;
    font-weight: bolder;
    cursor: pointer;
}
.signOut:hover {
    background-color:#d6d84c
    ;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}
.buttonNav {
    height:150px;
    width: 250px;
    border-radius: 15px;
    border: solid 1px #c4d17d;
    margin: 1%;
    margin-right: 5%;
    margin-left: 5%;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    background-color: #d3d4aa
    ;
}
.footer{
    position: absolute;
    height: 1.5rem;
    background: #313B1E;
    width: 100;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}
