.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #313b1e;
}
.logo {
}
.title {
  color: #fff;
  margin-right: 30px;
}
.signOut {
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  color: #fff;
  background-color: #b2b451;
  font-weight: bolder;
  cursor: pointer;
  transition: 400ms;
}
.signOut:hover {
  background-color: #d6d84c;
}
.ctnButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons {
  width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.buttonNav {
  margin-top: 2.5%;
  height: 140px;
  border-radius: 10px;
  border: solid 1px #859239;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #0f0f04;
  background-color: #d3d4aa;
  transition: 400ms;
  flex: none;
  width: calc((100% - 40px) / 3);
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.buttonNav:hover {
  background-color: #b7b87d;
}
.footer {
  position: absolute;
  height: 1.5rem;
  background: #313b1e;
  width: 100;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.con-homeAdmin {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 85%;
}
.contenido-homeAdmin {
  background-image: url("../../Image/fondoAdmin.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contenido-welcome {
  text-align: center;
  margin: auto;
  margin-top: 260px;
}
