.title {
  text-align: center;
  color: #000000;
}
.container-tabla1 {
  width: 80%;
  height: 75vh;
  /* background-color: aqua; */
  border-style: solid;
  margin: 30px auto;
  margin-bottom: 0;
  border-radius: 10px;
}
.grid-tabla1 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.boton-map1 {
  margin: 0;
  width: 60px;
  height: 20px;
}
.color-grid1 {
  background: #9ea03b;
  padding: 12px;
  border-radius: 6px;
}
.pagButton1 {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 18px;
  border: none;
  border-bottom: solid 1px #e2e0da;
  cursor: pointer;
  margin-bottom: 15px;
}
.pagButton:hover {
  background-color: #e2e0da;
  border-radius: 10px;
}
